<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= @task.title %></h1>
    <%= link_to edit_task_path(@task.id), class: 'btn btn-light btn-sm border' do %>
      <i class="fa fa-pencil"></i> Modifica questa attivitá
    <% end %>
  </div>


  <p class="well"><%= @task.details %></p>

  <% if @task.completed %>
    <i class="fa fa-check-square-o"></i> Questa attivitá é stata completata
  <% else %>
    <i class="fa fa-square-o"></i> Questa attivitá non é ancora stata completata
  <% end %>

  <hr>
  <%= link_to tasks_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Torna alla lista
  <% end %>
</div>
